<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 style="text-align: center;"><%= title %></h1>
    <h4 style="text-align: center;">Welcome to <%= subtitle %></h4>
    <div style="display:flex ;justify-content: center;">
      <img src="/images/node.png" alt="">
    </div>
    
  </body>
</html>
